#contactform {
  margin: 0 auto;
  max-width: 100%;
  /* margin-top: 30px; */
  font-size: 22px;
  color: #001a00;
  font-family: "Times New Roman", Times, serif;
}

.link-icon {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 5px;
}

.btn {
  padding: 10px 30px 10px 30px;
}
