#sidebar {
  position: fixed;
  min-width: 300px;
  max-width: 300px;
  min-height: 100vh;
  padding: 20px;
  background-color: lightslategray;
}

#content {
  margin-left: 300px;
}

#sidebar.active {
  position: relative;
  margin-left: -300px;
}
#content.active {
  margin: 0 uto;
}

.row {
  padding: 20px;
}
