.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  min-width: 300px;
  max-width: 300px;
  min-height: 100vh;
  padding: 20px;
  background-color: lightslategray;
}

#sidebar.active {
  margin-left: -300px;
}

/* a[data-toggle="collapse"] {
  position: relative;
  padding: 20px;
  font-family: "Fredericka the Great", cursive;
} */

/* .dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
} */

#sidebar-info {
  font-size: 20px;
  font-family: "Fredericka the Great", cursive;
}

#profile_img {
  border-radius: 40%;
  margin: 0 auto;
}
#name {
  margin: 0 auto;
  padding: 25px;
  font-family: "Sacramento", cursive;
  font-size: 40px;
}
a {
  text-align: center;
  font-family: "Alegreya Sans", sans-serif;
  color: black;
  font-size: 20px;
}

#intro {
  margin: 0 auto;
  max-width: 100%;
  margin-top: 150px;
  padding: 150px;
  font-size: 28px;
  color: #001a00;
  font-family: "Alegreya Sans", sans-serif;
  text-align: center;
}

body {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6PgzbTgZTlhipYHmEIC6lUC-zkjoUr6YlasoBtosIyIaMcUE-");
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
}
