.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  min-height: 100%;
}

#sidebar {
  position: fixed;
  min-width: 300px;
  max-width: 300px;
  min-height: 100vh;
  padding: 20px;
  background-color: lightslategray;
}

#content {
  margin-left: 300px;
}

#sidebar.active {
  position: relative;
  margin-left: -300px;
}

#content.active {
  margin: 0 auto;
}

/* a[data-toggle="collapse"] {
  position: relative;
  padding: 20px;
  font-family: "Fredericka the Great", cursive;
} */

/* .dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
} */

#sidebar-info {
  font-size: 20px;
  font-family: "Fredericka the Great", cursive;
}

#profile_img {
  border-radius: 40%;
  margin: 0 auto;
}
#name {
  margin: 0 auto;
  padding: 25px;
  font-family: "Sacramento", cursive;
  font-size: 40px;
}
a {
  text-align: center;
  font-family: "Alegreya Sans", sans-serif;
  color: black;
  font-size: 20px;
}

#intro {
  margin: 0 auto;
  max-width: 100%;
  min-height: 100%;
  margin-top: 280px;
  font-size: 28px;
  color: #001a00;
  font-family: "Alegreya Sans", sans-serif;
  text-align: center;
}

body {
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  max-height: 100%;
  height: 100%;
  min-height: 100%;
}
#index,
#portfolio,
#skillspage {
  width: 100%;
  min-height: 100%;
  padding: 30px;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
}
