.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  min-width: 300px;
  max-width: 300px;
  min-height: 100vh;
  padding: 20px;
  background-color: lightslategray;
}

#sidebar.active {
  margin-left: -300px;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

#sidebar-info {
  margin: 20px;
}

#profile_img {
  border-radius: 40%;
  margin: 0 auto;
}
#name {
  margin: 0 auto;
  padding: 25px;
}
a {
  margin: 90px;
}

body {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6PgzbTgZTlhipYHmEIC6lUC-zkjoUr6YlasoBtosIyIaMcUE-");
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
}
